<h1>My Bookings</h1>

<div id="bookings">
<div class="card-product">
  <div class="card-product-infos">
  <% @bookings.each do |booking| %>
  <h4><strong><%= booking.game.game_name%></strong></h4>
  <p><%= booking.start_date%>
  TO <%= booking.end_date%></p>
  <%= link_to "Edit Booking", "#", class: "btn btn-gradient" %>
  <%= link_to "Delete Booking", "#", class: "btn btn-gradient" %>
  <% end %>
</div>
</div>
</div>
