<body>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/m3hn2Kn5Bns);">
  <div class="container">
    <h1> <mark class="green">GameMu,</mark> the website that facilitates the  renting of <strong>video games</strong> !</h1>
    <p> For people that desire to experience video games differently.</p>
      <%= form_with url: root_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a game"
      %>
      <%= submit_tag "Search", class: "btn btn-success mx-2" %>
      <% end %>
  </div>
</div>
<br>

<%# <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://giphy.com/embed/VSZfFgdhctA3IwNHwZ/video" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://giphy.com/embed/VSZfFgdhctA3IwNHwZ/video" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://giphy.com/embed/VSZfFgdhctA3IwNHwZ/video" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> %>

<br>
<div class="card_games">
<div style="width:450px"><iframe allow="fullscreen" frameBorder="0" height="270" src="https://giphy.com/embed/VSZfFgdhctA3IwNHwZ/video" width="300"></iframe></div>
<div style="width:450px"><iframe allow="fullscreen" frameBorder="0" height="270" src="https://giphy.com/embed/0gizqqPBzN6QHrEzye/video" width="300"></iframe></div>
<div style="width:450px"><iframe allow="fullscreen" frameBorder="0" height="270" src="https://giphy.com/embed/dKKOo2Yry7P8VoLXhU/video" width="300"></iframe></div>
</div>
<br>

<div>
<h4>Our Offers</h4>
</div>
    <div class="card_games">
          <% @games.each do |game| %>
      <div>
      <div class="card_border">
        <div>
            <% if game.photo.attached? %>
              <%= cl_image_tag game.photo.key, height: 300, width: 465, crop: :fill %>
            <% end %>
        </div>
          <div class="p-3">
            <h2 class="card-title"><%= game.game_name %></h2>
            <p class="card-text"><%= game.description %></p>
            <h4 class="card-trip-pricing"><%= game.price %> €</h4>
            <%= link_to "View More", game_path(game), class: "btn btn-flat" %>
          </div>
      </div>
      </div>
          <% end %>
    </div>
