<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/m3hn2Kn5Bns);">
  <div class="container">
    <h1>GameMu, the website that facilitates the  renting of <strong>video games</strong> !</h1>
    <p> For people that desire to experience video games differently.</p>
  </div>
</div>




<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All Games</h1>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <%= image_tag asset_path('fifa.jpeg') %>
      <div class="card-body">
        <h5 class="card-title">FIFA 20</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
       <%= image_tag asset_path('ghost.jpg') %>
      <div class="card-body">
        <h5 class="card-title">Ghost of Tsushima</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <%= image_tag asset_path('witcher.jpg') %>
      <div class="card-body">
        <h5 class="card-title">The Witcher</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <%= image_tag asset_path('minecraft.jpg') %>
      <div class="card-body">
        <h5 class="card-title">Minecraft</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <%= image_tag asset_path('gta_5.jpg') %>
      <div class="card-body">
        <h5 class="card-title">Grand Theft Auto V</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <%= image_tag asset_path('F1_2021.jpg') %>
      <div class="card-body">
        <h5 class="card-title">F1 2021</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>
<p>Find me in app/views/pages/home.html.erb</p>
