<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-black">
    <h1>My Added Games</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
      <h3 class="mb-0">Games</h3>
      <%= link_to "Create a game", new_game_path, class: "btn btn-flat" %>
  </div>

<div class="card_games">
          <% @games.each do |game| %>
      <div>
        <div>
            <% if game.photo.attached? %>
              <%= cl_image_tag game.photo.key, height: 300, width: 414, crop: :fill %>
            <% end %>
        </div>
          <div>
            <h2 class="card-title"><%= game.game_name %></h2>
            <p class="card-text"><%= game.description %></p>
            <h4 class="card-trip-pricing"><%= game.price %> €</h4>
            <%= link_to "View More", game_path(game), class: "btn btn-flat" %>
          </div>
      </div>
          <% end %>
    </div>
